/*
 * General properties
 */
html, body {
	background-color: #ffffff;
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	margin: 0px;
	height: 737px;
	z-index: 2000;
}
.hide {
	display: none;
}
.hidden{
	visibility: hidden;
}
#content_main_services,
#content_main_presentation,
#content_main_objectives,
#content_main_contact,
#content_main_contact{
	height:577px;
	width: 1423px;
	margin:0 auto;
}
#video-viewport {
	overflow: hidden;
	z-index:-1000; /* for accessing the video by click */
}
/*
 * Header
 */
#header_wrapper{
	width: 1024px;
	height: 166px;
	margin: 0 auto;
}
#logo{
	float:left;
	height: 115px;
	width: 198px;
	background-image: url(../Images/logo_MC.svg);
	background-repeat: no-repeat;
	margin-top: 36px;
	cursor:pointer;
}
nav{
	/*margin-left: 350px;*/
	float:right;
	margin-top: 131px;
}
nav > a{
	width: 165px;
	height: 35px;
	text-align: center;
	vertical-align: top;
	border-right: 2px rgba(184,195,199, 0.6) solid;
	display: table-cell;
	color: #396e8e;
	cursor: pointer;
	text-decoration: none;
}
nav > a:hover,
nav > a:active,
a.active
{
	font-weight: bold;
}
nav a:last-child{
	border-right: none;
}

/*
 * Index
 */
#Logo_index{
	background-image: url(../Images/Logo_MC%20index.svg);
	background-repeat: no-repeat;
	margin: 238px auto 91px auto;
	height: 193px;
	width: 341px;
}
#Languages_index{
	margin: 0px auto;
	width: 760px;
}
#Languages_index > a{
	height: 32px;
	width: 190px;
	text-align: center;
	vertical-align: middle;
	border-right: 2px rgba(184,195,199, 0.6) solid;
	display: table-cell;
	color: #396e8e;
	cursor: pointer;
	text-decoration: none;
	color: #396e8e;
}
#Languages_index > a:hover{
	font-weight: bold;
}
#Languages_index > a:last-child{
	border-right: none;
}
/*
 * Main
 */
#main{
	width: 100%;
	height: 577px;
	background-color: rgba(184,195,199, 0.2);
}
/*#main_wrapper{
/*	margin: 0 auto;
	width: 1024px;
	height: 577px;
	width: 70%;
}*/
/*
 * Main presentation
 */
#slogan{
	width: 100%;
	height: 82px;
	text-align: center;
	background-color: rgba(57,110,142,0.2);
	position: relative;
	top: 495px;
}
/*
 * Main services
 */
#content_main_services{
	position:absolute;
}
#all_services{
	height: 170px;
	width: 100%;
	background-color: rgba(57,110,142,0.8);
	top: 407px;
	position: absolute;
	z-index: 1000;
}
#services_wrapper{
	width: 85%;
	margin: 0 auto;
	position: relative;
}
#services_wrapper > svg{
	margin: 15px 40px 15px 0;
}
#services_wrapper > svg:first-child{
	margin-left: 78px;
}
#services_wrapper > svg >text.active{
	visibility: visible;
}
/*
 * Main objectives
 */
#content_main_objectives{
	background-image: url("../Images/VioliMC.png");
	background-repeat: no-repeat;
}
#description{
	max-width: 390px;
	max-height: 577px;
	margin-right: 167px;
	float: right;
}
#description > span >p{
	color: #396e8e;
	background-color: rgba(255,255,255,0.6);
	line-height: 15pt;
	font-size:14px;
	margin: 0px;
	padding: 33px;
}
#description > span >p:first-child{
	margin-bottom:25px;
}
#description > span >p >span{
	font-weight: bold;
	text-align: right;
}

/*
 * Main test
 */
#title_test{
	background-color: #396e8e;
	width: 100%;
	height: 115px;
	text-align: center;
}
#title_test > div > span{
	color: #ffffff;
	font-size: 52px;
}
#title_test > div{
	padding-top: 23px;
}
#question_test{
	width: 1024px;
	margin: 0 auto;
	color: #396e8e;
}
#question_test > span > ol{
	list-style: none;
	line-height: 46px;
}
#question_test > span > span{
	font-size: 18px;
	font-weight: bold;
	margin-left: 40px;
}
/*
 * Main contact
 */
#content_main_contact{
	background-image: url("../Images/contactos.png");
	background-repeat: no-repeat;
}
.directions{
	width: 285px;
	height: 577px;
	background-color: rgba(57,110,142,0.2);
	color: #ffffff;
	float:right;
	margin-right:60px;
	padding-left: 47px;
}
form{
	margin-top: 35px;
	margin-bottom: 171px;
}
input{
	width: 225px;
}
.name, .lastname, .mail{
	padding-left: 9px;
	border: 1px #ffffff solid;
	background-color: transparent;
}
.name:focus, .lastname:focus, .mail:focus{
	border: 1px #396e8e solid;
}
.name{
	margin-top: 17px;
}
.lastname, .mail{
	margin-top: 8px;
}
.submit{
	margin-top:14px;
	width: 64px;
	float: right;
	margin-right: 50px;
	background-color: #396e8e;
	border: none;
}
.submit:active{
	background-color: rgba(184,195,199, 0.6);
}
.submit:focus{
	outline:none;
}

/*
 * Footer
 */
footer > a{
	cursor: pointer;
}
#languages{
	float: left;
}
#languages > a{
	display: inline-block;
	margin-right: 34px;
}
#languages > a:hover, #languages > a.active{
	color: #396e8e;
}
#legal{
	float: right;
	margin-right: 53px;
}
#legal, #languages > a{
	text-decoration: none;
	color: #ADC3D0;
}
footer{
	height: 226px;
	width: 100%;
	position: absolute;
	background-color: #ffffff;

}
#footer_wrapper{
	width: 1024px;
	margin: 14px auto auto;
	z-index: 2000;
	position: relative;
}




/* jCarousel */

/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
	position: relative;
	overflow: hidden;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
	width: 20000em;
	position: relative;
	/*margin: 0 auto;
	width: 1024px;*/
	/* Optional, required in this case since it's a <ul> element */
	list-style: none;
	margin: 0;
	padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
	/* Required only for block elements like <li>'s */
	float: left;
}
.jcarousel > ul > li#page2{
	background-image: url("../Images/2cares.png");
	background-repeat: no-repeat;
	height: 577px;
	width: 1423px;
}
.jcarousel > ul > li span{
	color: #ffffff;
	font-size: 60px;
}
