/*
 * General properties
 */
@font-face {
	font-family: 'Calibri';
	src: url('../fonts/Calibri.ttf');
}
@font-face {
	font-family: 'Calibri_Bold';
	src: url('../fonts/Calibri_Bold.ttf');
}
html, body {
	background-color: #ffffff;
	font-family: 'Calibri';
	margin: 0px;
	height: 737px;
	z-index: 2000;
}
.hide {
	display: none;
}
.hidden{
	visibility: hidden;
}
.unselectable {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}
#content_main_services,
#content_main_presentation,
#content_main_objectives,
#content_main_contact,
/*#content_main_test,*/
#content_main_legal{
	height:577px;
	margin:0 auto;
}
@media all and (min-width: 1423px) {
	#content_main_services,
	#content_main_presentation,
	#content_main_objectives,
	#content_main_contact,
	/*#content_main_test,*/
	#content_main_legal{
		width: 1423px;
	}
}
@media all and (max-width: 1423px) {
	/*#content_main_services,*/
	#content_main_presentation,
	#content_main_objectives,
	#content_main_contact,
	/*#content_main_test,*/
	#content_main_legal{
		width: 1280px;
	}
	#content_main_services{
		width: 1423px;
	}
}

#video-viewport {
	overflow: hidden;
	z-index:-1000; /* for accessing the video by click */
}
/*
 * Header
 */
#header_wrapper{
	width: 1024px;
	height: 166px;
	margin: 0 auto;
}
#logo, #logo_jpg{
	background-repeat: no-repeat;
	height: 115px;
	width: 198px;
	float:left;
	margin-top: 36px;
	cursor:pointer;
}
#logo{
	background-image: url(../Images/logo_MC.svg);
}
#logo_jpg{
	background-image: url(../Images/logo_MC.jpg);
}
nav{
	float:right;
	margin-top: 131px;
}
nav > a{
	width: 165px;
	height: 35px;
	text-align: center;
	vertical-align: top;
	border-right: 2px rgba(184,195,199, 0.6) solid;
	display: table-cell;
	color: #396e8e;
	cursor: pointer;
	text-decoration: none;
}
nav > a:hover,
nav > a:active,
a.active
{
	font-family:  'Calibri_Bold';
}
nav a:last-child{
	border-right: none;
}

/*
 * Index
 */
#Logo_index, #Logo_index_jpg{
	background-repeat: no-repeat;
	margin: 238px auto 91px auto;
	height: 193px;
	width: 341px;
}
#Logo_index {
	background-image: url(../Images/Logo_MC_index.svg);
}
#Logo_index_jpg {
	background-image: url(../Images/Logo_MC_index.jpg);
}
#Languages_index{
	margin: 0px auto;
	width: 760px;
}
#Languages_index > a{
	height: 32px;
	width: 190px;
	text-align: center;
	vertical-align: middle;
	border-right: 2px rgba(184,195,199, 0.6) solid;
	display: table-cell;
	color: #396e8e;
	cursor: pointer;
	text-decoration: none;
	color: #396e8e;
}
#Languages_index > a:hover{
	font-family:  'Calibri_Bold';
}
#Languages_index > a:last-child{
	border-right: none;
}
/*
 * Main
 */
#main{
	width: 100%;
	height: 577px;
	background-color: rgba(184,195,199, 0.2);
}
/*#main_wrapper{
/*	margin: 0 auto;
	width: 1024px;
	height: 577px;
	width: 70%;
}*/
/*
 * Main presentation
 */
#slogan{
	width: 100%;
	height: 82px;
	text-align: center;
	background-color: rgba(57,110,142,0.4);
	position: relative;
	top: 495px;
}
/*
 * Main services
 */
#content_main_services{
	background-color: #fff;
}
#trans {
	position:relative;
	height:577px;
	width:1024px;
	float: left;
	background-image: url("../Images/cara_retocada.jpg");
	background-repeat: no-repeat;
}

#all_services{
	height: 332px;
	width: 388px;
	background-color: rgba(184,195,199, 0.2);
	float: left;
	color: #396e8e;
	margin-left: 5px;
}
#all_services ul{
	list-style: none;
	line-height: 34px;
	padding-top: 18px;
}
#services_title{
	width: 388px;
	height: 240px;
	background-color: rgba(57,110,142,1);
	float: left;
	color: #B8CAD4;
	font-size: 30px;
	margin-left: 5px;
	margin-bottom:5px;
}
#services_title > div {
	margin-top: 128px;
	margin-left: 41px;
}

/*.vertical_white_line{
	height: 577px;
	width: 5px;
	background-color: #ffffff;
	float: left;
}*/
/*#content_main_services > #white_line{
	width: 388px;
	float:left;
	position:initial;
}*/
/*
 * Main objectives
 */
#content_main_objectives{
	background-image: url("../Images/VioliMC.jpg");
	background-repeat: no-repeat;
}
#description{
	max-width: 388px;
	max-height: 577px;
	margin-right: 167px;
	float: right;
}
#description > span >p{
	color: #396e8e;
	background-color: rgba(255,255,255,0.6);
	line-height: 15pt;
	font-size:14px;
	margin: 0px;
	padding: 33px;
	width: 324px;
}
#description > span >p:first-child{
	margin-bottom:25px;
}

/*#description > span >p >span{
	font-weight: bold;
	text-align: right;
}*/

/*
 * Main test
 */
#content_main_test{
	/*background-color: #B1C7DF;*/
}
#test_wrapper{
	height:390px;
	margin:0 auto;
}
@media all and (min-width: 1423px) {
	#test_wrapper{
		width: 1423px;
	}
}
@media all and (max-width: 1423px) {
	#test_wrapper{
		width: 1280px;
	}
}


#white_line{
	height: 5px;
	width: 100%;
	background-color: #ffffff;
}
#title_test{
	background-color: #396e8e;
	width: 100%;
	height: 115px;
	text-align: center;
}
#title_test > div > span{
	color: #ffffff;
	font-size: 52px;
}
#title_test > div{
	padding-top: 23px;
}

#question_test{
	width: 1024px;
	margin: 63px auto 0 auto;
	color: #396e8e;
	font-size: 16px;
}
#question_test > #radio_list {
	/*margin-top: 114px;
	position: absolute;*/
	margin: 5px 0 0 93px;
	z-index: 1;
	float: left;
}
/*
	Hide radio button (the round disc)
	we will use just the label to create pushbutton effect
*/
#question_test > #radio_list > input[type=checkbox] {
	display:none;
	margin:10px;
}

/*
	Change the look'n'feel of labels (which are adjacent to radiobuttons).
	Add some margin, padding to label
*/
#question_test > #radio_list > input[type=checkbox] + label {
	display:list-item;
	border-radius: 50%;
	height: 14px;
	width: 14px;
	background-color: transparent;
	border-color: #ddd;
	content: '';
	color: transparent;
	border: 2px #B1C7DF solid;
	margin-bottom: 12px;
	cursor: pointer;
}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
#question_test > #radio_list > input[type=checkbox]:checked + label {
	background-image: url("../Images/rodona.png");
	background-repeat: no-repeat;
	background-position: center;
}

#question_test > #question_text {
	float: left;
	z-index: 0;
	/*position: relative;
	margin-top: 70px;
	left: -109px;*/
}
#question_test > .intro {
	font-family:  'Calibri_Bold';
}
#question_test > #question_text > span > #ord_list{
	font-weight: normal;
	margin-left: 15px;
}
#question_test > #question_text > span > div > ol{
	list-style: none;
	line-height: 30px;
	margin: 0px;
	padding: 0px;
}
#question_test > #question_text > span > div:last-child{
	font-weight: normal;
	position: relative;
	left: -112px;
}
#question_test > #question_text > span > div:last-child > input[type=submit]{
	color: #396e8e;
	font-family:  'Calibri_Bold';
	text-decoration: none;
	background: transparent;
	border: none;
	width: auto;
}
#question_test > #question_text > span > div:last-child > input[type=submit]:hover{
	color: #ffffff;
	font-family:  'Calibri_Bold';
}
#question_test #button_click:focus{
	outline:none;
}



/*
 * Main contact
 */
#content_main_contact{
	background-image: url("../Images/contactos.jpg");
	background-repeat: no-repeat;
}
.directions{
	width: 285px;
	height: 577px;
	color: #ffffff;
	float:right;
	margin-right:60px;
}
.directions form{
	width: 285px;
	height: 241px;
	padding-top: 35px;
	margin-bottom: 24px;
	padding-left: 47px;
	padding-bottom: 35px;
	background-color: rgba(57,110,142,0.3);
}
.directions .direction{
	width: 285px;
	padding: 35px 0 35px 47px;
	background-color: rgba(57,110,142,0.3);
}
.directions p{
	margin-top: 27px;
	background-color: transparent;
}

.directions p > a{
	color: #fff;
}
.directions p > a:hover{
	color:#396e8e;
}
.directions input{
	width: 225px;
}
.directions .name,.directions  .lastname,.directions  .phone{
	padding-left: 9px;
	border: 1px #ffffff solid;
	background-color: transparent;
}
.directions .name:focus,.directions  .lastname:focus,.directions  .phone:focus{
	border: 1px #396e8e solid;
}
.directions .name{
	margin-top: 17px;
}
.directions .lastname,.directions  .phone{
	margin-top: 8px;
}
.directions .submit{
	margin-top:14px;
	width: 64px;
	float: right;
	margin-right: 50px;
	background-color: #396e8e;
	border: none;
}
.directions input[disabled]{
	background-color: rgba(57,110,142, 0.4);;
}
.directions input::-webkit-input-placeholder {
	color: white;
}
.directions input:-moz-placeholder { /* Firefox 18- */
	color: white;
}
.directions input::-moz-placeholder {  /* Firefox 19+ */
	color: white;
}
.directions input:-ms-input-placeholder {
	color: white;
}
.directions .submit:active{
	background-color: rgba(184,195,199, 0.6);
}
.directions .submit:focus{
	outline:none;
}
.directions input[type=checkbox]{
	width: 13px;
	margin-top: 12px;
}
.directions .result_test{
	position: relative;
	right: 352px;
	top: -533px;
	width: 285px;
	background-color: rgba(255,255,255,0.8);
	padding: 25px;
	color: #396e8e;
	border-radius: 32px 32px 32px 32px;
	font-size: 14px;
}
.directions .result_test_content{
	/*width: 290px;*/
}
.directions div.arrow-right {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 11px 0 11px 13px;
	border-color: transparent transparent transparent rgba(255,255,255,0.8);
	float: right;
	position: relative;
	left: 41px;
	top: 30px;
}


/*
 * Footer
 */
footer > a{
	cursor: pointer;
}
#languages{
	float: left;
}
#languages > a{
	display: inline-block;
	margin-right: 34px;
}
#languages > a:hover, #languages > a.active, #legal.active{
	color: #396e8e;
	font-family: 'Calibri';
}
#legal{
	float: right;
	margin-right: 53px;
}
#legal, #languages > a{
	text-decoration: none;
	color: #ADC3D0;
}
#legal_wrapper{
	width: 1024px;
	text-align: justify;
	margin: 0 auto;
}
#legal_wrapper > span > p:first-child{
	padding-top:135px;
	margin: 0;
}
footer{
	width: 100%;
	position: absolute;
	background-color: #ffffff;

}
#footer_wrapper{
	width: 1024px;
	margin: 14px auto auto;
	z-index: 2000;
	position: relative;
}
#legal_wrapper{
	width: 1024px;
	text-align: justify;
	margin: 0 auto;
}
#content_main_legal{
	/*background-color:rgba(57,110,142,0.3);*/
	color: #396e8e;
}
#legal_wrapper > span > p:first-child{
	padding-top:135px;
	margin: 0;
}

#legal_wrapper > span.tr.it > p:first-child{
	padding-top:155px;
	margin: 0;
}

/* jCarousel */

/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
	position: relative;
	overflow: hidden;
}
.jcarousel.jcarousel-small {
	width: 1024px;
	margin: 0 auto;
}
.jcarousel.jcarousel-big {
	width: 1423px;
}
/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
	width: 20000em;
	position: relative;
	/*margin: 0 auto;
	width: 1024px;*/
	/* Optional, required in this case since it's a <ul> element */
	list-style: none;
	margin: 0;
	padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
	/* Required only for block elements like <li>'s */
	float: left;
}
.jcarousel > ul > li#page2{
	background-image: url("../Images/2cares.jpg");
	background-repeat: no-repeat;
	height: 577px;
	width: 1423px;
}
.jcarousel > ul > li span{
	color: #ffffff;
	font-size: 60px;
}
